# macOS / editors
.DS_Store
.vscode/
.idea/
*.log

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/
.env
.venv
superuser.txt
/Users/raphaellafeldt/VScodeprojects/2340/moviesstore/superuser.txt
/superuser.txt